mzrui-timeline {
	--mzruiTimeline-bg: #222;
	--mzruiTimeline-color: #fff;
	--mzruiTimeline-loop-bg: #656586;
	--mzruiTimeline-lines-bg: #ffffff07;
	--mzruiTimeline-cursor-fill: #fff;
	--mzruiTimeline-loopBorder-bg: #fff;
}
