mzrui-lfo {
	--mzruiLFO-bg: #666;
	--mzruiLFO-txt: #fff;
	--mzruiLFO-head-bg: #555;
	--mzruiLFO-wave-bg: #0004;
	--mzruiLFO-wave-off: #777;
	--mzruiLFO-ctrls-bg: #555;
	--mzruiLFO-toggle-off: #fff3;
}
