mzrui-envelope {
	--mzruiEnvelope-bg: #666;
	--mzruiEnvelope-txt: #fff;
	--mzruiEnvelope-head-bg: #555;
	--mzruiEnvelope-wave-bg: #0004;
	--mzruiEnvelope-wave-off: #777;
	--mzruiEnvelope-ctrls-bg: #555;
	--mzruiEnvelope-ctrls-color: #ff9;
	--mzruiEnvelope-toggle-off: #fff3;
}
